# ==========================================
# ADMIN DATABASE
# ==========================================

DB_HOST=localhost
DB_PORT=3306
DB_NAME=sync_db
DB_USER=sync_admin
DB_PASSWORD=
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_LOGIN_CUSTOMER_ID= #ID da conta gerente
GOOGLE_ADS_CUSTOMER_ID= #ID da conta de anúncios


# ==========================================
# AI DATABASE
# ==========================================

SYNC_DB_HOST=localhost
SYNC_DB_PORT=3306
SYNC_DB_NAME=sync_db
SYNC_DB_USER=sync_ai
SYNC_DB_PASSWORD=